<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello <%= @email %>,</p>

    <p>We got your message below. Thanks for reaching out and we'll be back in contact with you as soon as we can.</p>
    <hr>
    <p><%= @message %></p>
  </body>
</html>
