<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @name %></h1>
    <p>Thank you for preordering <%= @playbook.name %>.</p>
    <p>We'll be sending you updates as soon as they're available!</p>
  </body>
</html>
